<p style="color: green"><%= notice %></p>

<h1>Genres</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @genres.each do |genre| %>
    <tr>
      <td class="p-2"><%= genre.id %></td>
      <td class="p-2"><%= genre.name %></td>
      <td class="p-2"><%= link_to 'Show', genre %></td>
      <td class="p-2"><%= link_to 'Edit', edit_genre_path(genre) %></td>
      <td class="p-2"><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @genres %>

<%= link_to "New genre", new_genre_path %>

<style>
    table {
        height: 200px;
    }

    .pagination {
        width: 400px;
    }

    .pagination span {
        padding: .4rem;
    }

</style>

