<p style="color: green"><%= notice %></p>

<%= image_tag(@library.image) if @library.image.attached? %>
<%= render @library %>

<div>
  <%= link_to "Download PDF report", lib_report_path, class: "btn btn-primary" %>
  <%= link_to "Edit this library", edit_library_path(@library) %> |
  <%= link_to "Back to libraries", libraries_path %>

  <%= button_to "Destroy this library", @library, method: :delete %>
</div>
